@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

head{
  text-align: center;
  
}
body{
  font-family: 'Ariel', sans-serif;
}

form{ 
  display: flex;
  justify-content: center;
  margin: 20px;
}

input{
  padding: 10px;
  margin-right: 10px;
}

button{
  background-color: #99aab9;
  margin-top: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.cover-button{
  padding: 18px;
  font-family: 'Arial', sans-serif;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; 
}

.cover-button:hover{
  background-color: #0056b3;
}